<a href="/">Show all messages</a>
<p></p>
<table>
	<tr>
		<th>Message</th>
		<th>Occurances</th>
	</tr>

	<% @errors.each do |error| %>
		<tr>
			<% if error[0]  %>
				<td align="left"><a href='?message=<%=h CGI.escape(error[0]) %>'><i><%=h error[0] %></i></a></td>
				<td align="center"><%= error[1] %></td>
			<% end %>
		</tr>
	<% end %>
</table>