<a href="/">Show all messages</a>
<p></p>
<table>
	<tr>
		<th>Message</th>
		<th>Occurances</th>
	</tr>
	<% @errors.each do |error| %>
		<tr>
			<% if error[0]  %>
				<td><i><%= error[0] %></i></td>
				<td><%= error[1] %></td>
			<% end %>
		</tr>
	<% end %>
</table>